/.metadata/.log
/.metadata/.plugins/org.tigris.subversion.subclipse.ui
/.metadata/.plugins/com.jaspersoft.studio
/.metadata/.plugins/com.jaspersoft.studio.data.sql.ui
/.metadata/.plugins/com.jaspersoft.studio.editor.jrexpressions.ui
/.metadata/.plugins/net.sf.jasperreports
/.metadata/.plugins/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.core.runtime
/.metadata/.plugins/org.eclipse.debug.core
/.metadata/.plugins/org.eclipse.e4.workbench
/.metadata/.plugins/org.eclipse.equinox.p2.ui
/.metadata/.plugins/org.eclipse.jdt.core
/.metadata/.plugins/org.eclipse.jdt.launching
/.metadata/.plugins/org.eclipse.jdt.ui
/.metadata/.plugins/org.eclipse.ltk.core.refactoring
/.metadata/.plugins/org.eclipse.ltk.ui.refactoring
/.metadata/.plugins/org.eclipse.pde.core
/.metadata/.plugins/org.eclipse.ui.ide
/.metadata/.plugins/org.eclipse.ui.intro
/.metadata/.plugins/org.eclipse.ui.workbench
/.metadata/.plugins/org.eclipse.ui.workbench.texteditor
/.metadata/.plugins/org.eclipse.xtext.builder
/.metadata/.plugins
/.metadata
